*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
}
img{
  max-width: 100%;
}

/*
HERO SECTION
*/
.hero-section {
  background-color: #23424a;
  width: 100%;
  color: #fefefe;
  padding: 100px 0;
}
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
.hero__content {
  width: 60%;
}
.hero__content h1 {
  font-size: 3rem;
  padding-bottom: 1em;
}
.hero__content p {
  padding-bottom: 3em;
}
.btn {
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  padding: 0.75em 2em;
  background-color: #38cfd9;
  display: inline-block;
  font-weight: 900;
  border-radius: 50px;
}
.btn:hover,
.btn:focus {
  opacity: 0.75;
}
.hero-section__image{
  align-self: flex-start;
}

.row {
  display: flex;
  padding: 4em 0;
  justify-content: space-between;
}

/*
SECTION 2
*/
.section-2__content {
  width: 65%;
  text-align: justify;
}
.section-2__content h2 {
  color: #136c72;
  font-size: 2.3rem;
  margin: 1.5em 0;
}
.section-2__content p {
  margin-bottom: 1em;
  color: #3a3a3a;
}
.aside {
  width: 30%;
  color: #fefefe;
  background-color: #136c72;
  text-align: center;
  padding: 3em 1.2em;
}
.aside__block {
  margin-bottom: 2em;
}
.aside__block .section__heading {
  margin-bottom: 1.5em;
}
